---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Qui sommes-nous ?"
	pubDate={new Date('April 20 2026')}
>
<p>Bienvenue sur OuPlacerMonArgent.fr — le site qui explique simplement comment faire travailler votre argent en France.</p>
</Layout>
