---
// Pas de logique nécessaire pour l'instant
---
<hr class="disclaimer-separator" />
<p class="disclaimer-text">
	<em>
		Cet article est rédigé à titre informatif et pédagogique. Je ne suis pas conseiller financier. Les chiffres et exemples présentés sont des illustrations générales. Avant toute décision, prends le temps d'analyser ta situation afin de ne pas compromettre ta situation financière.
	</em>
</p>

<style>
	.disclaimer-separator {
		border: none;
		border-top: 1px solid rgb(var(--gray-light));
		margin: 2.5rem 0 1.5rem;
	}
	.disclaimer-text {
		font-size: 0.95rem;
		color: rgb(var(--gray));
		line-height: 1.6;
	}
</style>